<div class="container">
    <img src="~/Images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/Images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="lepecydlanches@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/Images/phone-app-icon.png" />
            </span>
            <h5>(38) 99103-1234</h5>
            <br />
            <span>
                <img src="~/Images/Home-iconred.png" />
            </span>
            <h5>Av. Marechal Deodoro da Fonseca 785 - 39480-000 - Januária</h5>
        </p>
    </div>
</div>